# LV Libraries (optional)
*.lvlibp
*.llb
*.aliases
*.lvlps

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Own directories / files specs
Ignored/
Docs/
*.pdf
*.doc
*.docx

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Some Python specific
__pycache__/
*.py[cod]
*$py.class